<% provide(:title, 'About') %>
<div class="hero-unit">
	<h1>About Page</h1>
	<p>
	  This is the about page for eXact Roof Estimates. This page will have information about this website and the service offered.
	</p>
</div>