<% provide(:title, 'Contact Us') %>
<div class="hero-unit">
	<h1>Contact Us</h1>
	<p>
	  This is the contact page for eXact Roof Estimates.
	  Customers will be able to use this page to correspond with us.
	</p>
</div>