<div class="center hero-unit">
  <h1>eXact Roof Estimates</h1>
  <h2>
    This is the home page for eXact Roof Estimates.
    <a href="http://www.exactroofestimates.com">www.eXactRoofEstimates.Com</a>
   </h2>

   <%= link_to "Register Now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
