<% provide(:title, 'Register') %>
<h1>eXact Roof Estimates - Register</h1>
<p>
  This is the registration page for eXact Roof Estimates.
  From this page, users will be able to register for free!
</p>
