<% provide(:title, 'Services') %>
<h1>eXact Roof Estimates - Services Offered</h1>
<p>
  This is the services page for eXact Roof Estimates.
  From this page, users will be able to view the services offered.
</p>
